body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #111;
        color: #fff;

    }
header {
      background: linear-gradient(to bottom, #000, #222);
  padding: 15px 30px;
    }    
