* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #949595;
    margin: 0;  
}
.Marca {
    font-family: 'Audi type';
    width: 100%;
    display: flex;
    flex-direction: column;    /* cambia a columna para poner el texto debajo */
    align-items: center;       /* centra horizontalmente */
    justify-content: center;   /* centra verticalmente dentro del contenedor */
    background: #54565a;
    padding: 20px 0;
    margin: 0;
    box-sizing: border-box;
}
.Marca img {
    height: 200px;
    margin: 0 0 10px 0; /* espacio debajo de la imagen */
}

.Marca h2 {
    color: white;
    font-size: 40px;
    margin: 0;
}
