body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --silver-primary: #595959;
    --gold-light: #FFD700;
    --gold-dark: #B8860B;
    --black-primary: #000000;
    --black-soft: #1a1a1a;
    --gray-dark: #343A40;
    --gray-medium: #9b9e9f;
    --gray-light: #e1e1e1;
}

a{
    color:var(--gray-medium);
    text-decoration: none;
}

header{
    margin: 0;
    padding: 1px;
    top: 0;
    background:fixed radial-gradient(100% 100% at 0 0, var(--black-primary) ,var(--gray-dark));
    color: var(--gray-medium);
}

header #Titulo{
    display: flex;
    justify-content: center;
    top: 0;
    padding: 10px 0 20px ;
}