body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --silver-primary: #595959;
    --gold-light: #FFD700;
    --gold-dark: #B8860B;
    --black-primary: #000000;
    --black-soft: #1a1a1a;
    --gray-dark: #343A40;
    --gray-medium: #9b9e9f;
    --gray-light: #e1e1e1;
}

.logo{
    height: 100px;
    border-radius: 1.2rem;
    border: solid var(--silver-primary) 3px;
}

a{
    color:var(--gray-medium);
    text-decoration: none;
}

header{
    margin: 0;
    padding: 1px;
    top: 0;
    background:fixed radial-gradient(100% 100% at 0 0, var(--black-primary) ,var(--gray-dark));
    color: var(--gray-medium);
}

header #Titulo{
    display: flex;
    justify-content: center;
    top: 0;
    padding: 10px 0 20px ;
}

h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    background: linear-gradient(90deg, var(--silver-primary), #fff, var(--silver-primary)); 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: animacion 3s infinite linear; 
    background-size: 200%; 
}

@keyframes animacion {
    0% {
        background-position: 200% center; 
    }
    100% {
        background-position: -200% center; 
    }
}

ul{
    list-style: none;
        margin: 0;
}

#Horizontal{
margin: 0;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
gap: 0;
padding: 0;
}

#Horizontal li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#Horizontal li{
    border: solid var(--silver-primary) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 20px;
    padding: 0;
}

.Vertical li{
        display: flex;
        padding: 0;
        background:var(--black-soft) ;
}

.Vertical{
    margin: 0;
    position: absolute;
    justify-content: center;
    padding: 0;
    opacity: 0;
    transform: translateY(3vh);
    pointer-events: none;
    width: 25%; 
    transition: all 0.6s ease;
    height: 6vh;
}

#Horizontal li:hover .Vertical {
    opacity: 1;
    transform: translateY(4.7vh);
    pointer-events: auto; 
}

#Horizontal li:hover, .Vertical li:hover {
    box-shadow: 0 0 3px 1px  inset var(--silver-primary)  ;
}

main{
    background: linear-gradient(180deg,var(--gray-light), var(--gray-medium), var(--gray-light));
    background-position: center; 
}

#Intro{
    display: flex;
    align-items: top;
    justify-content: center;
    height: 500px;
    margin: 0;
    padding: 30px 60px 80px 60px;
    background-image: url("../img/Nosotros/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h2{
    text-decoration: underline ; 
    text-decoration-color:  var(--silver-primary);
    font-size: 45px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

#Intro div{
    color: var(--gray-medium);
}

#Intro div p{
    font-size: 20px;
}

#Esencia{
    color: var(--black-soft);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#Esencia #Fondo{
    padding: 5px;
    width: max(600px,80%);
    font-size: 20px;
}

#Fondo ul{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;
}

#Fondo ul li{
    margin: 0 10px 0 10px;
    color:var(--silver-primary) ;
    font-size: 25px;
}

#Fondo ul #Excelencia::before {
    content: "✔";
    margin-right: 8px;
}

#Fondo ul #Confianza::before {
    content: "⛨";
    margin-right: 8px;
}

#Fondo ul #Pasion::before {
    content: "❤︎";
    margin-right: 8px;
}

#Fondo ul li p{
    font-size: 15px;
    color: var(--black-primary);
}

#Quienes-somos .Sombra{
    box-shadow:0px 0px 10px 5px var(--black-soft);
}

#Numeros{
    padding: 1px;
    display: flex;
    justify-content: center;
}

#Num{
    padding: 20px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    font-size: 15px;
    background: radial-gradient(var(--gray-dark), var(--black-soft)90%);
}

#Num p{
    font-size: 15px;
    background: linear-gradient(90deg, var(--silver-primary), #fff, var(--silver-primary)); 
    animation: animacion 5s infinite linear; 
    background-size: 200%;
    margin: 0;
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#Variedad{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 10% 10px;
}

#V1{
    justify-items: center;
    align-items: center;
}

#V1 h2{
    font-size: 40px;
    color: var(--black-soft);
}

#V1 div p{
    font-size: 18px;
    color: var(--black-soft);
}

#V2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.C{
    background: linear-gradient(180deg, var( --gray-light), var(--gray-medium) 300px);
    padding: 5px;
    border: solid var(--black-soft) 2px;
    border-radius: 1.2rem;
    -webkit-text-stroke: 0.7px var(--silver-primary); 
    transition: transform 0.3s;
}

#C3{
    box-shadow: 5px 8px 5px 1px var(--black-soft);
}

#C2{
    box-shadow: 0px 8px 7px 1px var(--black-soft);
}

#C1{
    box-shadow: -5px 8px 5px 1px var(--black-soft);
}

.C .texto ul{
    padding: 0;
    margin: 0 0 6px;
    font-size: 15px;
}

.texto h3{
    font-size: 20px;
    color:var(--black-soft) ;
}

.texto p{
    font-size: 18px;
}

.C:hover {
    transform: translateY(-5px);
}

#Garantia{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
    margin: 30px;
    background-color: var(--black-soft);
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem ;
    box-shadow: 0 0 4px 1px var(--black-soft);
}

#Garantia #G1 img{
    width: 100%;
    margin: 5px;
    border-radius: 1.3rem;
    border: solid var(--gray-light) 1px;
    box-shadow: 0 0 3px 1px var(--gray-light);
}

#G2{
    padding: 20px;
    margin: 20px;
}

#G2 h2{
    font-size: 35px;
    color: var(--gray-light);
}

#G2 p{
    font-size: 20px;
    color: var(--gray-light);
}

#Datos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}