body {
     margin: 0;
      font-family: Arial, sans-serif;
      background: #111;
      color: #fff;
   
    }
header {
      background: linear-gradient(to bottom, #000, #222);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-bottom: 0px;
    }    
header img {
      height: 200px;
      border: 3px solid #888; 
      border-radius: 10px;  
    }
nav {
      display: flex;
       justify-content: center; 
      background: linear-gradient(to right, #000, #b8860b);
       padding: 10px  0;; 
       gap: 20px;
       width: 103%;
    }
nav button{
    background: #444;
      color: white;
     padding: 8px 16px;
      border-radius: 20px;
      border: 2px solid #444;    
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.introduccion{
    background-image: url(../img/fondo-lambo.jpg);
      background-repeat: no-repeat;
      background-position: 100%;
      background-size: cover;
      padding-bottom: 10%;
}
.intro{
    display: flex;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
      gap: 20px;
      font-size: 35px;  
      padding: 100px;

        background: linear-gradient(270deg,  #dadada,#b8860b, #bdbdbd);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moverColores 10s ease infinite;

}
@keyframes moverColores {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.intro p{
  padding-top: 10px;
  
}
 main {
     background: linear-gradient(to bottom, #2e2d2d, #000); /* efecto difuminado dorado-negro */
      padding: 20px;
      display: grid;
      gap: 20px;
      text-align: center;
  
    }
    .autito {
      background: #333;
      border-radius: 12px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.5);
      margin: 20px;
       width: 380px; 
        height: 360px; 
        display: flex;
  flex-direction: column;
  justify-content: space-between;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    
.autito:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0,0,0,0.8); 
}
    .contenido {
      display: grid;
      grid-template-columns: 300px 300px 300px ;
      min-height: calc(100vh - 160px);
      align-items: center;
      position: relative;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;


   

    }

 .autito img {
  width: 100%;
  height: 240px;             /* altura fija */
  object-fit: cover;         /* recorta sin deformar */
  display: block;
}
  

 .autito h2 {
      margin: 10px 0;
      padding-bottom: 20px;
      color: white;
      font-size: 25px;
    }