body {
     margin: 0;
      font-family: Arial, sans-serif;
      background: #111;
      color: #fff;
   
    }
header {
      background: linear-gradient(to bottom, #000, #222);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }    
header img {
      height: 300px;
    }
nav {
      display: flex;
       justify-content: center; 
      background: linear-gradient(to right, #000, #b8860b);
       padding: 10px  0;; 
       gap: 20px;
       width: 103%;
    }
nav button{
    background: #444;
      color: white;
     padding: 8px 16px;
      border-radius: 20px;
      border: 2px solid #444;    
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.intro{
    display: flex;
    text-align: center;
    justify-content: center;
     padding: 10px 0;
      gap: 20px;

}
 main {
      background: linear-gradient(to bottom, #b8860b, #000); /* efecto difuminado dorado-negro */
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 20px;
      text-align: center;
      
    }
.autito {
      background: #333;
      border-radius: 12px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.5);
      margin: 20px;
    }
 .autito img {
      width: 100%;
      display: block;
    }    
.contenido {
      display: grid;
      grid-template-columns: 300px 300px 300px ;
      min-height: calc(100vh - 160px);
      align-items: center;
      position: relative;
      margin-left: 100%;

    }
 .autito h2 {
      margin: 10px 0;
      color: white;
      font-size: 18px;
    }